.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 360px;
}

.element .overlap {
  height: 615px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 360px;
}

.element .overlap-group-wrapper {
  height: 64px;
  left: 16px;
  position: absolute;
  top: 58px;
  width: 330px;
}

.element .overlap-group {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
  height: 64px;
  position: relative;
  width: 328px;
}

.element .text-wrapper-2 {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 16px;
  left: 69px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.element .img {
  height: 44px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 44px;
}

.element .view {
  height: 22px;
  left: 252px;
  position: absolute;
  top: 21px;
  width: 64px;
}

.element .frame {
  align-items: center;
  background-color: #ffa6a6;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 2px 4px;
  position: relative;
}

.element .text-wrapper-3 {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .overlap-wrapper {
  height: 64px;
  left: 16px;
  position: absolute;
  top: 134px;
  width: 330px;
}

.element .div-wrapper {
  height: 64px;
  left: 16px;
  position: absolute;
  top: 210px;
  width: 330px;
}

.element .overlap-wrapper-2 {
  height: 64px;
  left: 16px;
  position: absolute;
  top: 286px;
  width: 330px;
}

.element .frame-wrapper {
  height: 34px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 135px;
}

.element .frame-2 {
  align-items: center;
  background-color: #ffa6a6;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 34px;
  position: relative;
}

.element .text-wrapper-4 {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .group-wrapper {
  background-color: #201f1f80;
  height: 615px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.element .group {
  height: 164px;
  left: 32px;
  position: relative;
  top: 225px;
  width: 296px;
}

.element .view-2 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000066;
  height: 164px;
  position: relative;
}

.element .view-3 {
  height: 24px;
  left: 52px;
  position: absolute;
  top: 104px;
  width: 76px;
}

.element .overlap-group-2 {
  background-color: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0px 1px 3px #0000004c;
  height: 24px;
  position: relative;
  width: 74px;
}

.element .text-wrapper-5 {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 16px;
  left: 30px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.element .image {
  height: 24px;
  left: 170px;
  position: absolute;
  top: 105px;
  width: 74px;
}

.element .frame-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 34px;
  position: absolute;
  top: 31px;
}

.element .text-wrapper-6 {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .text-wrapper-7 {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .view-4 {
  height: 50px;
  left: 0;
  position: fixed;
  top: 24px;
  width: 362px;
}

.element .overlap-2 {
  background-image: url(../../../static/img/image.svg);
  background-size: 100% 100%;
  height: 48px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 360px;
}

.element .union-wrapper {
  height: 24px;
  left: 320px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.element .union-2 {
  height: 19px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.element .p {
  color: transparent;
  font-family: "establish Retrosans OTF-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 118px;
  letter-spacing: 1.2px;
  line-height: 32px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.element .span {
  color: #ffa6a6;
}

.element .text-wrapper-8 {
  color: #96e6ff;
}

.element .view-5 {
  border: 1px solid;
  border-color: #424242;
  border-radius: 8px;
  height: 24px;
  left: 288px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.element .group-2 {
  height: 11px;
  left: 2px;
  position: relative;
  top: 5px;
}

.element .text-wrapper-9 {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 6px;
  font-weight: 700;
  height: 4px;
  left: 0;
  letter-spacing: 0;
  line-height: 6px;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 4px;
}

.element .text-wrapper-10 {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 8px;
  left: 11px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 7px;
}

.element .text-wrapper-11 {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 8px;
  font-weight: 700;
  height: 6px;
  left: 5px;
  letter-spacing: 0;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 5px;
}

.element .arrow-back-ios {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.element .div-3 {
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 360px;
}

.element .div-4 {
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.element .div-5 {
  height: 69px;
  left: 0;
  position: fixed;
  top: 689px;
  width: 360px;
}

.element .overlap-3 {
  background-color: #ffeff5;
  height: 68px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 360px;
}

.element .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 16px;
  position: relative;
  top: 12px;
}

.element .view-6 {
  height: 44px;
  position: relative;
  width: 44px;
}

.element .img-2 {
  height: 28px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element .text-wrapper-12 {
  color: #1e1e1e;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 42px;
}

.element .view-7 {
  height: 44px;
  position: relative;
  width: 58px;
}

.element .text-wrapper-13 {
  color: #1e1e1e;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 56px;
}

.element .auto-awesome {
  height: 28px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 29px;
}

.element .div-6 {
  height: 44px;
  position: relative;
  width: 50px;
}

.element .text-wrapper-14 {
  color: #1e1e1e;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 48px;
}

.element .group-wrapper-2 {
  height: 28px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element .group-3 {
  height: 23px;
  left: 2px;
  position: relative;
  top: 3px;
  width: 24px;
}

.element .overlap-group-3 {
  height: 23px;
  position: relative;
}

.element .union-3 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.element .subtract {
  height: 17px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 17px;
}

.element .image-2 {
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 44px;
}

.element .rectangle-2 {
  background-color: #c1c1c1;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.element .gesture-three-buttons {
  left: 0 !important;
  position: fixed !important;
  top: 758px !important;
}

.element .android-status-bar-instance {
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}
