.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 360px;
}

.element .view {
  height: 1208px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 86px;
  width: 328px;
}

.element .view-2 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
  height: 116px;
  left: 0;
  position: absolute;
  top: 969px;
  width: 328px;
}

.element .frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  left: 20px;
  position: absolute;
  top: 12px;
}

.element .text-wrapper-2 {
  color: #424242;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  left: 20px;
  position: absolute;
  top: 44px;
}

.element .text-wrapper-3 {
  color: #424242;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 12px;
  left: 20px;
  position: absolute;
  top: 78px;
}

.element .view-3 {
  align-items: center;
  background-color: #ffa6a6;
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 6px;
  position: relative;
}

.element .text-wrapper-4 {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .view-4 {
  align-items: center;
  background-color: #ffa6a6;
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 236px;
  padding: 6px;
  position: absolute;
  top: 43px;
}

.element .view-5 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
  height: 116px;
  left: 0;
  position: absolute;
  top: 841px;
  width: 328px;
}

.element .view-6 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
  height: 116px;
  left: 0;
  position: absolute;
  top: 713px;
  width: 328px;
}

.element .view-7 {
  align-items: center;
  background-color: #ffa6a6;
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 236px;
  padding: 6px;
  position: absolute;
  top: 44px;
}

.element .overlap-group-wrapper {
  height: 62px;
  left: 0;
  position: absolute;
  top: 339px;
  width: 332px;
}

.element .overlap-group {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
  height: 62px;
  position: relative;
  width: 328px;
}

.element .frame-wrapper {
  height: 22px;
  left: 8px;
  position: absolute;
  top: 6px;
  width: 64px;
}

.element .frame-3 {
  align-items: center;
  background-color: #ffa6a6;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 2px 4px;
  position: relative;
}

.element .text-wrapper-5 {
  color: #ffffff;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .text-wrapper-6 {
  color: #424242;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 18px;
  left: 80px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.element .p {
  color: #1e1e1e;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 18px;
  left: 8px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.element .overlap-wrapper {
  height: 48px;
  left: 0;
  position: absolute;
  top: 653px;
  width: 330px;
}

.element .overlap {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #00000040;
  height: 48px;
  position: relative;
  width: 328px;
}

.element .text-wrapper-7 {
  color: #1e1e1e;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 272px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 12px;
  white-space: nowrap;
}

.element .view-8 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 593px;
  width: 330px;
}

.element .overlap-wrapper-2 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 533px;
  width: 330px;
}

.element .text-wrapper-8 {
  color: #1e1e1e;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 215px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 12px;
  white-space: nowrap;
}

.element .view-9 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 473px;
  width: 330px;
}

.element .text-wrapper-9 {
  color: #1e1e1e;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 164px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 12px;
  white-space: nowrap;
}

.element .view-10 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 413px;
  width: 330px;
}

.element .text-wrapper-10 {
  color: #1e1e1e;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 238px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.element .image {
  height: 38px;
  left: 32px;
  position: absolute;
  top: 272px;
  width: 264px;
}

.element .overlap-2 {
  height: 264px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 272px;
}

.element .img {
  height: 264px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 264px;
}

.element .group {
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.element .overlap-3 {
  border-radius: 6px;
  height: 264px;
  position: relative;
  width: 264px;
}

.element .rectangle-2 {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(201.88, 201.03, 201.03, 0) 100%);
  border-radius: 6px;
  height: 264px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 264px;
}

.element .text-wrapper-11 {
  color: #ffffff;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  left: 12px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 209px;
  white-space: nowrap;
}

.element .text-wrapper-12 {
  color: #ffffff;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  left: 77px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 209px;
  white-space: nowrap;
}

.element .text-wrapper-13 {
  color: #ffffff;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 12px;
  left: 51px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 239px;
  white-space: nowrap;
}

.element .text-wrapper-14 {
  color: #ffffff;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 12px;
  left: 12px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 239px;
  white-space: nowrap;
}

.element .img-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 326px;
  width: 328px;
}

.element .view-11 {
  height: 50px;
  left: 0;
  position: fixed;
  top: 24px;
  width: 362px;
}

.element .overlap-4 {
  background-image: url(../../../static/img/image.svg);
  background-size: 100% 100%;
  height: 48px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 360px;
}

.element .union-wrapper {
  height: 24px;
  left: 320px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.element .union-2 {
  height: 19px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.element .div-3 {
  color: transparent;
  font-family: "establish Retrosans OTF-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 118px;
  letter-spacing: 1.2px;
  line-height: 32px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.element .span {
  color: #ffa6a6;
}

.element .text-wrapper-15 {
  color: #96e6ff;
}

.element .group-wrapper {
  border: 1px solid;
  border-color: #424242;
  border-radius: 8px;
  height: 24px;
  left: 288px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.element .group-2 {
  height: 11px;
  left: 2px;
  position: relative;
  top: 5px;
}

.element .text-wrapper-16 {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 6px;
  font-weight: 700;
  height: 4px;
  left: 0;
  letter-spacing: 0;
  line-height: 6px;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 4px;
}

.element .text-wrapper-17 {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 8px;
  left: 11px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 7px;
}

.element .text-wrapper-18 {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 8px;
  font-weight: 700;
  height: 6px;
  left: 5px;
  letter-spacing: 0;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 5px;
}

.element .arrow-back-ios {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.element .div-4 {
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 360px;
}

.element .div-5 {
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.element .div-6 {
  height: 69px;
  left: 0;
  position: fixed;
  top: 689px;
  width: 360px;
}

.element .overlap-5 {
  background-color: #ffeff5;
  height: 68px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 360px;
}

.element .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 16px;
  position: relative;
  top: 12px;
}

.element .view-12 {
  height: 44px;
  position: relative;
  width: 44px;
}

.element .img-3 {
  height: 28px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element .text-wrapper-19 {
  color: #1e1e1e;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 42px;
}

.element .view-13 {
  height: 44px;
  position: relative;
  width: 58px;
}

.element .text-wrapper-20 {
  color: #1e1e1e;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 56px;
}

.element .auto-awesome {
  height: 28px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 29px;
}

.element .div-7 {
  height: 44px;
  position: relative;
  width: 50px;
}

.element .text-wrapper-21 {
  color: #1e1e1e;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 48px;
}

.element .group-wrapper-2 {
  height: 28px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element .group-3 {
  height: 23px;
  left: 2px;
  position: relative;
  top: 3px;
  width: 24px;
}

.element .overlap-group-2 {
  height: 23px;
  position: relative;
}

.element .union-3 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.element .subtract {
  height: 17px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 17px;
}

.element .image-2 {
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 44px;
}

.element .rectangle-3 {
  background-color: #c1c1c1;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.element .gesture-three-buttons {
  left: 0 !important;
  position: fixed !important;
  top: 758px !important;
}

.element .android-status-bar-instance {
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}
